<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <title>버스정류장 정보 시각화</title>
</head>
<body>
    <div id="map" style="width:100%;height:98vh;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7cb27ea2e3e5ce06075cf370062dfb24&libraries=clusterer"></script>
    <script>
        var mapContainer = document.getElementById('map');
        var mapOption = {
            center: new kakao.maps.LatLng(35.10482165803885, 129.01972954165134),
            level: 7,
        };

        var map = new kakao.maps.Map(mapContainer, mapOption);
        var markers = [];
        var currentInfowindow = null; // 열린 인포윈도우 추적

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // 서버에서 데이터 가져오기
        fetch('/busstop_json/')
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('서버에서 데이터 가져옴:', data);

               // 데이터를 이용하여 마커 표시
                data.forEach(position => {
                    var markerImage = new kakao.maps.MarkerImage(
                        '/static/busstop.png', // 이미지 파일 경로
                        new kakao.maps.Size(30, 30),
                        { offset: new kakao.maps.Point(20, 20) }
                    );

                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: new kakao.maps.LatLng(position.gpsy, position.gpsx),
                        image: markerImage,
                    });

                    var infowindow = new kakao.maps.InfoWindow({
                        content: `<div style="padding:5px;font-size:12px;">
                                  <div><b>${position.bstopnm}</b></div>
                                </div>`
                    });

                    kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow, position));

                    // 마커를 markers 배열에 추가
                    markers.push(marker);
                });

                // 클러스터러에 마커들을 추가합니다
                var clusterer = new kakao.maps.MarkerClusterer({
                    map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
                    averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
                    minLevel: 3 // 클러스터 할 최소 지도 레벨
                });

                clusterer.addMarkers(markers);

                console.log(markers);
            })
            .catch(error => {
                console.error('서버에서 데이터 가져오는 중 에러 발생:', error);
            });

        // 인포윈도우를 표시 및 숨기는 클로저를 만드는 함수입니다
        function makeClickListener(map, marker, infowindow, position) {
            return function () {
                // 현재 마커에 대한 인포윈도우가 이미 열려 있으면 닫기
                if (currentInfowindow && currentInfowindow.getMap()) {
                    currentInfowindow.close();
                }

                // 현재 마커에 대한 인포윈도우가 열려 있지 않으면 열기
                if (currentInfowindow !== infowindow) {
                    infowindow.open(map, marker);
                    currentInfowindow = infowindow;
                } else {
                    currentInfowindow = null; // 이미 열려 있는 인포윈도우를 클릭하면 닫기
                }

                // 마커의 위치로 지도 이동 및 현재 레벨로 확대/축소
                map.setCenter(new kakao.maps.LatLng(position.lat, position.lng));
                map.setLevel(map.getLevel());
            };
        }
    </script>
</body>
</html>