<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosine Similarity Input</title>
</head>
<body>
    <h1>Input Form</h1>

    <form method="post" action="{% url 'cosine_similarity_view' %}">
        {% csrf_token %}
        <label for="주소">주소:</label>
        <input type="text" name="address" required><br>

        <label for="보증금">보증금:</label>
        <input type="text" name="보증금_y" required><br>

        <label for="월세">월세:</label>
        <input type="text" name="월세_y" required><br>

        <label for="월관리비">월관리비:</label>
        <input type="text" name="월관리비" required><br>

        <label for="입주가능일">입주가능일:</label>
        <input type="text" name="입주가능일" required><br>

        <label for="상가구분">상가구분:</label>
        <input type="text" name="상가구분" required><br>

        <label for="임대_계약면적">임대(계약)면적:</label>
        <input type="text" name="임대_계약면적" required><br>

        <label for="전용면적">전용면적:</label>
        <input type="text" name="전용면적" required><br>

        <label for="해당층">해당층:</label>
        <input type="text" name="해당층" required><br>

        <label for="총층">총층:</label>
        <input type="text" name="총층" required><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>